#logo{
    font-size: 32px;
    color: whitesmoke;
    line-height: 100px;
}
#header{
    background-color: black;
    height: 100px;
}
#logo_1{
    
    box-shadow: rgb(black, gray, #888);
}
#timkiem{
    margin-top: 33px;
}
#dangnhap{
    margin-top: 17px;
}
#dangnhap a{
    color: darkgray;
}
#menu{
    background-color: black;
    box-shadow: darkgray;
    border-top: 1px solid #888;
}
#banner_1{
    background-color: black;
    border-top: 1px solid #888;
    
}
#banner_2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.font_chu{
    color: chocolate;
}
.border_logo{
	background: linear-gradient(25deg, #8ac0df 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(25deg, #000 34%, rgb(78, 78, 78) 34%);
	background-size: 10% 10%;
	height: 100px;
	background-position: 25% 50%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
}
.inner-cutout{
	display: block;
	background-color:#ff6f69;/*#ff6f69*/
	margin: 10%;
	height: 57px;
	background: radial-gradient(#ff6f69, #ff8b87);
	background-size: 300%;
	background-position:50% 50%;

}
.knockout {
	
	vertical-align: middle;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size:23px;
	color: blue;
	color: #fff;
	background: linear-gradient(110deg, #000000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #1b1b1b 34%, #535353 34%);
	background-size: 100%;
	 -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.knockout{
		animation: Gradient 5s ease infinite;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}
	
}
.main{
	width: 180px;
	height: 150px;
}
.menu_c2{
    background-color: black;
}
.menu_c2>a{
    color: chocolate;
}
/*NumBer*/
.number{
    height: 100px;
    background-color: black;
}
.number_all{
    border-bottom:1px solid #888 ;
    background-color: black;
    padding-bottom: 20px;
}
/*san pham*/
.sanpham_index{
    padding-top: 10px;
    background-color: black;
    color: chocolate;
}
.nav-tabs .nav-item:active{
    background-color: chocolate;
    color: black;
}
.nav-tabs .nav-item .nav-link{
	font-weight: 700;
	color: chocolate;
}
.sanpham{
	height: 350px;
}
.sanpham_hinh{
	height: 250px;
}
.sanpham_contein{
	height: 100px;
	float: left;
}
.tab-content{
	margin-bottom: 50px;
}
/*Menu thông tin*/
.thongtin{
	height: 300px;
	background-color: black;
	color: chocolate;
}
.menu{
	color: chocolate;
}
.menu>li{
	list-style-type:disc;
}
.thongtin_lk{
	height: 100px;
	margin-top: 20px;
	margin-right: 20px;
	background-color: darkgray;
}
.thongtin_lk>.col-6{
	border-right: 1px solid chocolate;
	border-left: 1px solid chocolate;
}